<!-- To-Do List -->
<ul>
  <li
    *ngFor="let todo of todos; let i = index"
    class="flex items-center justify-between bg-zinc-100 dark:bg-zinc-600 p-2 rounded-md mb-2"
  >
    <div class="flex items-center px-2">
      <input
        type="checkbox"
        [checked]="todo.completed"
        (change)="toggleCompleted(todo)"
        class="mr-2 cursor-pointer"
      />
      <span
        [ngClass]="{ 'line-through': todo.completed }"
        class="dark:text-zinc-200"
        >{{ todo.title }}</span
      >
    </div>
    <div class="flex items-center px-2">
      <button
        (click)="editTodo(todo)"
        class="text-blue-500 active:text-blue-700 mr-2"
      >
        <i class="fas fa-edit"></i>
        Edit
      </button>
      <button
        (click)="deleteTodo(todo)"
        class="text-red-500 active:text-red-700"
      >
        <i class="fas fa-trash"></i>
        Delete
      </button>
    </div>
  </li>
</ul>
